body{
    background-image: "https://unsplash.it/g/200/300/?random";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
#weather{
    text-align: right
}
#quote{
    text-align: center    
}
#clock{
    text-align: center;    
    margin-top: 200px    
}
h1{
    font-size: 75px
}
.bottom{
    margin-top: 10%
}
button{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
